.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store

*.class
*.jar
*.war
*.ear
target/
build/
out/

bin/
.classpath
.project
.settings/

Thumbs.db
